<footer class="footer">

    <div class="footer-container">

        <div class="footer-left">

            <h2>🎓 Student Course Portal</h2>

            <p>
                Learn • Build • Get Placed
            </p>

            <p class="copyright">

                © {{ currentYear }} Keerthana Sathish

            </p>

        </div>

        <div class="footer-middle">

            <h3>Technology Stack</h3>

            <ul>

                <li>Angular 20</li>

                <li>TypeScript</li>

                <li>RxJS</li>

                <li>NgRx</li>

                <li>JSON Server</li>

            </ul>

        </div>

        <div class="footer-right">

            <h3>Quick Links</h3>

            <p>🏠 Home</p>

            <p>📚 Courses</p>

            <p>👤 Profile</p>

            <p>📝 Enrollment</p>

        </div>

    </div>

</footer>