<div class="page-header">

    <h1>📚 Explore Courses</h1>

    <p>
        Choose a course and begin your learning journey.
    </p>

</div>

<div class="search-container">

    <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="🔍 Search courses...">

    <button
        type="button"
        (click)="searchCourse()">
        Search
    </button>

</div>

<p *ngIf="searchTerm">
    Searching for:
    <strong>{{ searchTerm }}</strong>
</p>

<div class="course-grid">

    <div
        class="course-wrapper"
        *ngFor="let course of courses$ | async">

        <app-course-card
            [course]="course">
        </app-course-card>

    </div>

</div>