<div class="profile-container">

    <div class="profile-card">

        <div class="avatar">
            👩
        </div>

        <h2>Student Profile</h2>

        <p>Computer Science Student</p>

        <div class="stats">

            <div class="stat-box">

                <h3>{{ enrolledCourses.length }}</h3>

                <p>Courses Enrolled</p>

            </div>

            <div class="stat-box">

                <h3>Angular</h3>

                <p>Learning Track</p>

            </div>

        </div>

    </div>

    <div class="course-section">

        <h2>📚 My Courses</h2>

        <div
            class="course-list"
            *ngIf="enrolledCourses.length > 0">

            <div
                class="course-item"
                *ngFor="let course of enrolledCourses">

                <h4>📘 {{ course.name }}</h4>

                <p class="course-code">

                    {{ course.code }}

                </p>

            </div>

        </div>

        <p
            class="empty"
            *ngIf="enrolledCourses.length===0">

            🎉 You haven't enrolled in any courses yet.

        </p>

    </div>

</div>