<header class="navbar">

    <div class="logo">

        <span class="logo-icon">🎓</span>

        <div>

            <h2>Student Portal</h2>

            <small>Learning Management System</small>

        </div>

    </div>

    <nav>

        <a
            routerLink="/"
            routerLinkActive="active">

            🏠 Home

        </a>

        <a
            routerLink="/courses"
            routerLinkActive="active">

            📚 Courses

        </a>

        <a
            routerLink="/profile"
            routerLinkActive="active">

            👤 Profile

        </a>

        <a
            routerLink="/enroll"
            routerLinkActive="active">

            📝 Enroll

        </a>

    </nav>

    <div class="right-icons">

        <button class="icon-btn">

            🔔

        </button>

        <button class="icon-btn">

            ⚙️

        </button>

    </div>

</header>