<div class="course-card" appHighlight>

    <div class="course-header">

        <h3>📚 {{ course.name }}</h3>

        <span class="course-code">
            {{ course.code }}
        </span>

    </div>

    <div class="course-info">

        <p>

            <strong>Credits</strong>

            <span class="credit-pill">
                {{ course.credits | creditLabel }}
            </span>

        </p>

    </div>

    <div class="status">

        <span
            *ngIf="course.gradeStatus === 'passed'"
            class="badge passed">

            ✅ Passed

        </span>

        <span
            *ngIf="course.gradeStatus === 'pending'"
            class="badge pending">

            ⏳ Pending

        </span>

        <span
            *ngIf="course.gradeStatus === 'failed'"
            class="badge failed">

            ❌ Failed

        </span>

    </div>

    <button
        type="button"
        (click)="toggleEnrollment(); $event.stopPropagation()">

        {{ enrollmentService.isEnrolled(course.id)
            ? '✔ Unenroll'
            : '🚀 Enroll' }}

    </button>

</div>