.placement-card{

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:0 15px 35px rgba(0,0,0,.08);

    margin:50px auto;

    width:90%;

}

.placement-card h2{

    color:#2563eb;

    margin-bottom:10px;

}

.skill{

    margin:20px 0;

}

.top{

    display:flex;

    justify-content:space-between;

    margin-bottom:8px;

    font-weight:600;

}

.progress{

    height:12px;

    background:#e5e7eb;

    border-radius:50px;

    overflow:hidden;

}

.fill{

    height:100%;

    border-radius:50px;

    background:linear-gradient(90deg,#2563eb,#4f46e5,#06b6d4);

    transition:1s;

}

h3{

    display:flex;

    justify-content:space-between;

    margin-top:25px;

    color:#1e3a8a;

}